<h1>My list of films</h1>
<div class="cards"><% @movies.each do |movie| %>
<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= movie.poster_url %>)">
<%= link_to movie.title, movie_path(movie) %></div>
<% end %></div>

<%= link_to "Create a movie", new_movie_path, class: "btn btn-ghost" %>
